<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  {% if let Some(title) = title %}
  <title>{{title}} Streaming now</title>
  {% else %}
  <title>waft</title>
  {% endif %}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/main.css">
</head>

<body>
  <div class="nav">
    <img src="/assets/cat.webp" height="50px" width="50px" />
    <img src="/assets/cat.webp" height="50px" width="50px" />
    <img src="/assets/cat.webp" height="50px" width="50px" />
    <img src="/assets/cat.webp" height="50px" width="50px" />
    <img src="/assets/cat.webp" height="50px" width="50px" />
    <img src="/assets/cat.webp" height="50px" width="50px" />
    <img src="/assets/cat.webp" height="50px" width="50px" />
    <img src="/assets/cat.webp" height="50px" width="50px" />
    <img src="/assets/cat.webp" height="50px" width="50px" />
    <img src="/assets/cat.webp" height="50px" width="50px" />
    <img src="/assets/cat.webp" height="50px" width="50px" />
    {% if let Some(title) = title %}
    <p>Streaming: {{title}}</p>
    {% endif %}
  </div>
  {% if is_authed %}
  {% include "main.html" %}

  {% else %}
  <div class="container">
    <img src="/assets/cat.webp" />
    <div class="auth">
      <p>enter passcode to join</p>
      <form action="/auth" method="GET">
        <input type="password" name="key" class="txt-input" />
        <input type="submit" value="join" class="submit-btn" />
      </form>
    </div>
  </div>
  {% endif %}
</body>

</html>